<!DOCTYPE html>
<html>

<head>
    <title>Web</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body class="content">

<main class="main">
    <div>
        <% if (user) { %>
            <h1><a href="/logout">Logout</a></h2>
        <% } else { %>
            <h1><a href="/login">Login</a></h2>
        <% } %>
    </div>
    
    <div>
        <% if (user) { %>
            <h2><%= user.name %></h2>
            <h2><%= user.nickname %></h2>
        <% } else { %>
            <h2>Unknown</h2>
        <% } %>
        <hr></hr>
        <br></br>
        <h2 style="text-align: center;">Table results</h2>
        <table style="width:40%; text-align: center;" class="center">
            <tr>
              <th>Name</th>
              <th>Points</th>
              <th>Score</th>
            </tr>
            <% for(var row of table) { %>
                <tr>
                <td><%= row.team %></td>
                <td><%= row.points %></td>
                <td><%= row.score %></td>
                </tr>
            <% } %>
        </table>
        <br></br>
        <hr></hr>
        <% for(var utakmica of data.utakmice) { %>
            <a style="text-decoration: none" href=<%="utakmica/" + utakmica.id %>>
            <% if(data.utakmice.indexOf(utakmica) % 2 == 0){ %>
                <div style="background-color: aliceblue" class="utakmica">
            <% } else { %>
                <div style="background-color: beige" class="utakmica">
            <% } %>
                    <h2 style="text-align: center"><%= utakmica.team1 + " " + utakmica.gol1 + " - " + utakmica.gol2 + " " + utakmica.team2 %> </h2>
                    <% if (utakmica.played) { %>  
                        <h3 style="text-align: center">finished</h2>
                    <% } else { %>
                        <h3 style="text-align: center">not yet started</h2>
                    <% } %>
                </div>
            </a>
        <% } %>
    </div>

</main>

</body>

</html>
